.examples {
  font-family: "Oswald";
  font-weight: 400;
}

.examples__title {
  font-size: 36px;
  line-height: 40px;
  color: #000;
}

.examples__description {
    color: #444444;
    font-size: 14px;
    line-height: 18px;
}

.examples__kpi {
  font-size: 24px;
  line-height: 24px;
}

.examples__result {
  font-size: 12px;
  line-height: 12px;
}

.examples__subtitle {
  font-size: 14px;
  line-height: 20px;
}
