.features__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.features__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.features__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
