.hero__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: $basegreen;
  text-decoration: none;
  font-family: "Oswald";
}

.hero__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Oswald";
}

.hero__subtitile {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Oswald";
}
