.spesial {
  font-family: "Oswald";
  font-weight: 400;
}

.spesial__title {
  font-size: 36px;
  line-height: 40px;
  color: #000;
}

.spesial__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
